doctype html
html
  head
    title Add
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
    link(rel='stylesheet' href='//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css')
    style body {padding-top:80px; word-wrap:break-word;}

  body
    .container
      .jumbotron.text-center
        h1
          input(type="hidden" value='#{user._id}')
          div Name
          p #{product.name}
          div Description
          p #{product.name}
          div Quantity
          p #{product.name}
          div Price
          p #{product.name}

block scripts
  include ../default-scripts